* {
  box-sizing: border-box;
}

body {
  margin: 80px;
}

.container {
  border: 5px solid red;
  background-color: silver;
  display: flex;
  flex-flow: row nowrap;
  width: 1010px;
}

[class*="group"] {
  height: 250px;
}

.group1 {
  background-color: gold;
  flex-basis: 500px;
}
.group2 {
  background-color: aqua;
  flex-basis: 500px;
}
.group3 {
  background-color: lightgreen;
  flex-basis: 500px;
}


.box {
  border: 5px solid red;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}

[class*="box-inner"] {
  border: 5px solid blue;
  flex: 1 1 200px;

}

.box-inner1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  height: 500px;
}

.box-inner2 {
  display: flex;
  flex-flow: row wrap;
}

.box1 {
  flex: 0 1 100%;
}
.box2 {
  flex: 0 1 50%;
}
.box3 {
  flex: 0 1 50%;
}
.box4 {
  flex: 0 1 100%;
}